* {
    -fx-font-family: "Roboto";
}

.label-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.btn-primary {
    -fx-background-color: #6C3DF2;
    -fx-border-radius: 30px;
    -fx-padding: 10px;
    -fx-min-width: 180px;
}

