* {
    -fx-font-family: "Roboto";
}

.label-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.btn-primary {
    -fx-background-color: #6C3DF2;
    -fx-border-radius: 30px;
    -fx-padding: 10px;
    -fx-min-width: 180px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 1, 1, 1, 1);
}

.btn-default {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-radius: 2px;
    -fx-border-color: black;
    -fx-min-width: 180px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 1, 1, 1, 1);
}

/* time up */
.label-warning {
    -fx-text-fill: red;
}

.text-field{
    -fx-font-weight: normal;
    -fx-font-family: "Roboto Light";
    -fx-min-width: 260px;
    -fx-max-width: 260px;
}

